@import "tailwindcss";

@tailwind utilities;

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-palette-50: rgb(214, 19, 0);
  --color-palette-100: rgb(255, 217, 60);
  --color-palette-200: rgb(239, 254, 249);
  --color-palette-300: rgb(130, 180, 191);
  --color-palette-400: rgb(37, 73, 161);
}

@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
    /* color: #333; */
  }
}